/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}
.bg{
  background:   #dc3545;
  color: #fff;
}
.navbar ul {
  display: flex;
}
.navbar a{
  color: white;
  text-decoration: none;
}

.login-link{
  font-size: 1.5rem;
  margin-bottom: 0px;
}