
.image_div {
  margin: auto;
  padding-top: 7px;
  padding-bottom: 0px;
  width :95%;
}

.product_image {
  margin:auto;
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1px solid black;
  box-shadow: 1px 1px;
}


.Description{
  margin: auto;
  /* margin-top: 21px;
  margin-bottom: 21px; */
  width: 100%;
  /* transform: translate(0%, -40%); */

  display:flex;
  justify-content:space-between;

}
.Title{
  color: rgb(44, 41, 41);
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;

  display: inline-block;
  position: relative;
}
.pricetag{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.price{
  text-align: center;
  font-size: 10px;
  color: rgb(138, 135, 135);
  margin-left: 5px;
  margin-top: 0%;
}
.rupee_icon{
  margin-top: 0%;
  transform: translate(0px,2px);
}
.rent{
  transform: translate(5px,-7px);
  margin-top: 0px;
  font-size: 7px;
  color: rgb(54, 54, 54);
  padding-left: 1px;
  padding-right: 1px;
  border:0.02px black solid;
  border-radius: 4px;
}


.like{
  margin-top: 0px;
  transform: translate(10%, -110%);
  opacity: 0.3;
  color: black;

}
.like :hover{
  opacity: 0.5;
}
.like :active{
  color: red;
}

/* .small_description{
  text-align: left;
  margin: auto;
} */

.details_btn{
  margin-top:5px;
  text-align: right;
  padding-right: 30px;
  padding-bottom: 20px;
  
}
.btn_text{
  color:  rgb(236, 130, 130);
  font-size: 13px ;

  
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0.7px rgb(236, 130, 130) solid;

}
